<!-- <div class="attachments">
  <div ng2FileDrop class="drop-zone" *ngIf="uploadedFileQueue && uploadedFileQueue.length !== 0 || !isReadOnly" [ngClass]="{'file-over': hasBaseDropZoneOver, 'read-only': isReadOnly}"
    (fileOver)="fileOverBase($event)" [uploader]="uploader">

    <div class="drop-zone-text">Drop Files Here</div>
    <div class="uploader-body" [ngClass]="{'file-over': hasBaseDropZoneOver}">
      <div class="title" *ngIf="uploadedFileQueue && uploadedFileQueue.length > 0 && showAttachmentsHeader">Attachments &nbsp;&nbsp;
        <span class="blue-text download" (click)="downloadAllFiles()">Download all</span>
      </div>
      <div class="files" [ngClass]="{'truncate': parentComponent === 'orderCustomizationInstructions' || 
      parentComponent === 'activitiesTimeline' || parentComponent === 'publishVideoContent' || parentComponent === 'activitiesSubmission'}">
        <div *ngFor="let item of uploadedFileQueue">
          <table class="uploaded">
            <tr [ngClass]="{ 'blur-file-data': item.isDeleted }">
              <td class="img-container">
                <img [src]="getFileIcon(item.type)">
              </td>
              <td>
                <div class="file-title">
                  <span class="file-name cursor-clickable" [title]="item?.originalName" (click)="selectFile(item)"> {{ item?.originalName }} </span>
                  <span *ngIf="!hideAttachmentControls" class="file-options">
                    <i *ngIf="!item.isDeleted" class="fa fa-arrow-circle-o-down button-icon" (click)="downloadFile(item)"></i>
                  <i *ngIf="!isReadOnly && !item.isDeleted && item.id" class="fa fa-trash-o button-icon" (click)="deleteFilesWithMetaData(item)"></i>
                  </span>
                  <span *ngIf="hideAttachmentControls" class="remove-file-option">
                    <i class="fa fa-times button-cross" (click)="deleteFilesWithMetaData(item)"></i>
                  </span>
                </div>
                <div class="file-status">
                  <span class="info"><span *ngIf="item?.contentLength/1024/1024 >= 1; else showInKbs">{{ item?.contentLength/1024/1024 | number:'.2' }} MB</span>
                  <ng-template #showInKbs>{{ item?.contentLength/1024 | number:'1.2-2' }} KB</ng-template>
                  </span>
                  <span class="info">{{ getFileTypeName(item?.type) }}</span>
                  <span class="info"> Uploaded by {{ getDisplayNameFromEmail(item.createdBy) }} </span>
                  <span *ngIf="item?.createdDate" class="info">{{ item?.createdDate | date: 'short' }} </span>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div *ngFor="let item of uploader.queue">
          <table class="uploading">
            <tr>
              <td class="img-container">
                <img [src]="getFileIcon(item?.file?.type)">
              </td>
              <td>
                <div class="file-title">
                  <span class="file-name" [title]="item?.file?.originalName"> {{ item?.file?.originalName }} </span>
                  <span class="pull-right">
                    <span class="info"> uploading...{{ item.uploadProgress || 0 }}% </span>
                  <i class="fa fa-times button-cross" (click)="abortUpload(item); clearErrorFlags()"></i>
                  </span>
                </div>
                <progress max="100" value="{{item.uploadProgress}}"></progress>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <span *ngIf="uploadedFileQueue && uploadedFileQueue.length > 0 && showDownloadAll" class="blue-text download" (click)="downloadAllFiles()">Download all</span>

      <div *ngIf="!isReadOnly" class="instruction">
        <i class="fa fa-paperclip"></i>&nbsp;&nbsp; To add attachments, drag and drop or
        <label class="blue-text">
          <input type="file" [hidden]="true" ng2FileSelect [uploader]="uploader" multiple />
          browse
        </label>
      </div>
    </div>
  </div>
  <div class="error" *ngIf="hasInvalidType">
    <p>
      <b>Sorry, at least one of your files couldn't be uploaded because it isn't a supported file type:</b><br> Image Files (gif, jpg, png, svg), Caption Files (dfxp, scc, srt, ttml, vtt, xml), Other Types (ae, ai, doc, docx, indd, pdf, pproj, psd, xls, xlsx, zip)
    </p>
  </div>
  <div class="error" *ngIf="exceedMaxSize">
    <p>
      <b>Sorry, at least one of the files you tried uploading is too large.</b><br> The maximum file size is currently 20
      MB.
    </p>
  </div>
  <div class="error" *ngIf="exceedMaxCount">
    <p>
      <b>Sorry, some of your files were not uploaded.</b><br> The maximum number of files per upload is currently 20.
    </p>
  </div>
  <div class="error" *ngIf="hasError">
    <p>
      <b>Sorry, there seems to have been an error uploading your files.</b><br> Please double check that you have an internet
      connection and try again...
    </p>
  </div>

<div *ngIf="!disableFilePreview">
  <app-file-preview [previewFileSubject]="previewFileSubject"></app-file-preview>
</div>
</div> -->
