<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <h2>PlanPackRepeat</h2><span>plan your itinerary</span>
                </div>
            </div>

            <div id="navbar" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a [routerLink]="'/create-itinerary'">New Itinerary</a></li>
                    <li><a href="dashboard.html">dashboard</a></li>
                    <li><a href="">Sign out</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</nav>
