<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <h2>PlanPackRepeat</h2><span>plan your itinerary</span>
                </div>

            </div>
          </div>

            	<div class="col-sm-4">
                <app-search-itinerary></app-search-itinerary>
        </div>
        <div class="col-sm-5">
            <div id="navbar" class="collapse navbar-collapse navbar-right">

                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a [routerLink]="'/itinerary/create-itinerary/info'">New Itinerary</a></li>
                    <li><a href="dashboard.html">dashboard</a></li>
                    <li><a href="">Sign out</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
      </div>
    </div>
</nav>
