<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
            <div class="navbar-header">
                <div class="navbar-brand" (click)="navigateToHome()">
                    <h2>PlanPackRepeat</h2><span>plan your itinerary</span>
                </div>

            </div>
          </div>

            	<div class="col-sm-4">
                <!-- <app-search-itinerary></app-search-itinerary> -->
        </div>
        <div class="col-sm-5">
            <div id="navbar" class="collapse navbar-collapse navbar-right">

                <ul class="nav navbar-nav">
                    <!-- <ng-container *ngIf="authService.loggedIn; else userNotLoggedIn"> -->
                    <li><a [routerLink]="'/dashboard'" [ngClass]="{'disabled': !authService.loggedIn}">Home</a></li>
                    <li><a [routerLink]="'/itinerary/create-itinerary/info'" [ngClass]="{'disabled': !authService.loggedIn}">New Itinerary</a></li>
                    <li><a [routerLink]="'/dashboard'" [ngClass]="{'disabled': !authService.loggedIn}">dashboard</a></li>
                    <li *ngIf="authService.loggedIn"><a (click)="authService.logout()">Sign out</a></li>
                    <li *ngIf="!authService.loggedIn"><a (click)="authService.login()">Sign in</a></li>
                </ul>
            </div>
        </div>
      </div>
    </div>
</nav>
