<div class="form-group">
  <label>Enter address</label>
  <input
    type="text"
    class="form-control"
    (keydown.enter)="$event.preventDefault()"
    placeholder="Search Nearest Location"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="off"
    type="text"
    #search
  />
</div>

<div class="agm-map-container">
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker
      [latitude]="latitude"
      [longitude]="longitude"
      [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"
    ></agm-marker>
    <!-- <agm-polyline  [strokeColor]="'#2196f3'">
      <ng-container *ngFor="let i of latlng">
      <agm-polyline-point *ngIf = "i.speed < maxSpeed " [latitude]="i.latitude" [longitude]="i.longitude">
      </agm-polyline-point>
  </ng-container>
  </agm-polyline> -->
  </agm-map>
</div>

<h5>Address: {{ address }}</h5>
<div>Latitude: {{ latitude }}</div>
<div>Longitude: {{ longitude }}</div>
