<button
  class="btn btn-success uploader-btn"
  [disabled]="!selectedFiles"
  (click)="upload()"
>
  Upload
</button>

<!-- <div class="progress-bar-container">
  <div class="progress-bar" *ngFor="let item of arrayOne(numberOfFiles); let i = index;">
      {{ 'File ' + i }}: &nbsp;
    <progress id="{{'file'+i}}" max="100" [value]="70"> {{fileUploadProgress[files.name]}}% </progress>
  </div>
</div> -->

<div class="row">
  <div class="col-xs-12">
    <div class="container uploader-container">
      <label class="btn btn-default"></label>
      <input type="file" (change)="selectFile($event)" multiple />
    </div>
  </div>
</div>


<!-- <div class="upload-btn-wrapper">
  <button class="btn">Upload a file</button>
  <input type="file" name="myfile" (change)="selectFile($event)" />
</div> -->

<!-- <div class="photos">
    <img src="https://plan-pack-repeat.s3.us-east-2.amazonaws.com/Screen+Shot+2019-11-19+at+8.54.24+PM.png" />
</div> -->
