.login-module {
    width: 265px;
    margin: 10% auto 0;
    text-align: center;
  }

  h1 {
    color: #5f6770;
  }
  
  #logo{
    width: 230px;
    margin: 0 auto 2.5rem;
    img {
      width: 100%;
    }
  }

  #login-form {
    .login-btn {
      background: #1CB6EA;
      width: 100%;
      color: #fff;
      border: none;
      border-radius: 2px;
      padding: 14px 0;
      font-size: 1.5rem;
    }
  }