.modal-xl {
    width: 1250px;
    margin-top: 216px;
}

.modal-header {
    height: 60px;
}

.close {
    margin-top: 4px;
}
.save-btn {
    padding: 10px 35px !important;
    border-radius: 2px !important;
}